.edit-section-order {
  display: flex;
}

.pokebox-edit {
  width: 350px;
  margin: 50px 3px 50px auto;
  background-color: #233142;
  border: 10px solid #f95959;
  text-align: center;
  border-radius: 35px;
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.pokebox-edit img {
  width: 350px;
}

.pokebox-edit h2 {
  background-color: #f95959;
  text-transform: capitalize;
}

.pokebox-edit h1 {
  font-size: xx-large;
  background-color: #455d7a;
  margin: 0;
  border-radius: 50px;
}

.pokebox-edit p {
  font-size: larger;
}

/**/

.editbox {
  width: 250px;
  margin: 50px auto 50px 3px;

  background-color: #233142;
  border: 10px solid #f95959;
  border-radius: 35px;
  padding: 20px;
}

.editbox form {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  text-align: center;
}

.editbox form input,
textarea,
select {
  margin-bottom: 25px;
  font-size: large;
}

.editbox form label {
  margin: 10px;
  border-bottom: 1px solid #f95959;
}

.editbox form textarea {
  height: 50px;
}

.editbox button {
  background-color: #f95959;
  color: #e3e3e3;
  font-size: large;
  width: 185px;
  margin: auto;
}
