.orderbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.back {
  margin: auto;
}

.back img {
  width: 210px;
}
.back p {
  text-align: center;
  margin-top: -15px;
}
.pokebox {
  width: 350px;
  margin: 50px auto;
  background-color: #233142;
  border: 10px solid #f95959;
  text-align: center;
  border-radius: 35px;
}

.pokebox img {
  width: 350px;
}

.pokebox h2 {
  background-color: #f95959;
  text-transform: capitalize;
}

.pokebox h1 {
  font-size: xx-large;
  background-color: #455d7a;
  margin: 0;
  border-radius: 50px;
}

.pokebox p {
  font-size: larger;
}

.pokebox-buttons {
  display: flex;
  justify-content: space-between;
}

.pokebox-buttons img {
  width: 50px;
  padding: 10px 10px;
}
