.cards-section {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  width: 1100px;
}

.card {
  border: 1px solid #233142;
  margin-bottom: 30px;
  border-radius: 50px 0 0px 0;
  width: 200px !important;
  text-align: center;
  background-color: #233142;
  border-bottom: 4px solid #f95959;
}

.card h4 {
  border-radius: 15px 0 0px 0;
  font-size: larger;
}

.card img {
  width: 150px;
}

.card-desc {
  color: #233142;
  background-color: #e3e3e3;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e3e3e3;
}

.card-bottom p {
  background-color: #f95959;
  margin: 0;
  font-size: larger;
  color: #e3e3e3 !important;
  padding: 5px;
  border-radius: 0 10px 0 0;
}

.card-bottom button {
  background-color: #233142;
  color: #e3e3e3 !important;
  margin: 0 5px 5px 0;
  border: none;
  border-radius: 5px;
  font-size: larger;
  padding: 5px 15px;
}
