@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:ital,wght@0,500;1,900&display=swap");

:root {
  font-family: "Pixelify Sans", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
}

button {
  color: black;
}
