@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto:ital,wght@0,500;1,900&display=swap");

:root {
  font-family: "Pixelify Sans", sans-serif;
  overflow-x: hidden;

  color-scheme: light dark;
  color: #e3e3e3;
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  background-color: #455d7a;
}

button {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}
