.footer {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 100%;
  background-color: #233142;
  text-align: center;
  font-size: larger;
}

.footer a {
  color: #e3e3e3;
  text-decoration: none;
}

.footer ul {
  border-right: solid 3px #f95959;
  list-style: none;
}
.footer ul li {
  padding: 5px 0;
}

.footer-top {
  border-bottom: 5px #f95959 solid;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer h1 {
  color: #f95959;
}

footer img {
  margin-top: 55px;
  width: 150px;
}

footer span {
  color: #f95959;
}

footer hr {
  width: 10px;
  color: #f95959;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    background-color: #233142;
    text-align: center;
    font-size: medium;
  }

  .footer h1 {
    font-size: large;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    background-color: #233142;
    text-align: center;
    font-size: medium;
  }
  .footer div {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer ul {
    margin: 0;
  }

  .div-img,
  .div-img img {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }

  .footer ul {
    border-right: none;
    padding: 0;
  }

  .footer p {
    padding: 10px;
  }
}
