header {
  text-align: center;
  background-image: url("../assets/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 2px #f95959;
  width: 1100px;
  height: auto;
  padding: 45px;
  margin: auto;
}

.pokeball {
  width: 40px;
  padding: auto;
}

h1,
h3 {
  margin: 10px;
}

h4 {
  background-color: #f95959;
}
